main {
    background-color: black;
}

.about {
    width: 100%;
    height: 170vh;
    padding: 100px;
}

.about-title {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.about-wrapper {
    width: 100%;
    height: 35%;
    background: #2c2e36;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    overflow: hidden;
}

.about-left {
    flex: 1;
    padding: 50px 150px;
    color: white;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.about-small {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-mid {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-desc {
    font-size: 22px;
    margin-bottom: 20px;
}

.about-footer {
    font-size: 18px;
    opacity: 0.8;
}

/* RIGHT SIDE VIDEO AREA */
.about-right {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.about-video {
    position: relative;
    width: 100%;
    background-image: url('../assets/images/director.avif');
    background-size: cover;
    height: 80%;
    max-width: 500px;
}

.about-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;

    transition: 0.25s ease;
}

.about-play:hover {
    transform: translate(-50%, -50%) scale(1.12);
}


.team-section {
    width: 100%;
    padding: 60px 0;
    color: white;
    text-align: center;
}

.team-title {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 20px;
}

.team-desc {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 60px;
    opacity: 0.85;
}

.team-wrapper {
    width: 90%;
    margin: auto;
    background: #232630;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.member {
    width: 23%;
    text-align: left;
    position: relative;
}

.member img {
    width: 100%;
    height: auto;
    filter: brightness(0.6);
    transition: 0.3s ease;
}

.member:hover img {
    filter: brightness(1);
}

.member-info {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.member-name {
    font-size: 20px;
    font-weight: 600;
}

.member-role {
    font-size: 14px;
    opacity: 0.85;
    letter-spacing: 1px;
    margin-top: 4px;
}