main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #111;
    color: white;
}

.news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.news-heading {
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 700;
    margin-bottom: 20px;
}

.news-message h2 {
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 600;
    margin-bottom: 10px;
}

.news-message p {
    font-size: clamp(14px, 2vw, 20px);
    opacity: 0.7;
    margin-top: 10px;
}